body
{
    font-family:Arial,Helvetica,FreeSans,sans-serif;
    width:auto;
    height:auto;
    background:#eae7dc;
    font-size:100%;
    margin:0.1em;
}

header
{
    background:#8e8d8a;
    border: 2px solid #555;
    border-radius:5px;
    padding:0.1em;
    margin:0.4em 0.1em;
    font-weight:bold;
    text-align:center;
    color:#eae7dc;
    width:auto;
    font-size:140%;
    box-shadow: 0.2em 0.2em 10px rgba(0, 0, 0, 0.5);
}

footer
{
    background:#8e8d8a;
    border: 1px solid #555;       
    border-radius:5px; 
    padding: 0.1em;
    margin:0.4em 0.1em;
    text-align:center;
    color:#eae7dc;
    width:auto;
    font-size:90%;
    border-radius: 4px;
    box-shadow: 0.2em 0.2em 10px rgba(0, 0, 0, 0.5);
}

p
{
    margin-left: 0.1em;
}

form
{
    margin-left: 0.1em;
}

.menu 
{
    display: block;              
    padding:0;
    margin: 0.6rem 0.2rem;             
}

.menu li 
{
    list-style-type: none ;
}

.menu a 
{
    display:block;
    min-width: 120px;
    margin: 0.4rem 0.1rem;  
    padding: 0.4rem 0.1rem;   
    text-align: center;  
    background-color: #d8c3a5;
    color: #323232;     
    text-decoration: none;     
    border: 1px solid #8e8d8a;  
    border-radius: 4px;  
    box-shadow: 0.2em 0.2em 10px rgba(0, 0, 0, 0.5);
}

.menu a:hover 
{
    background-color: #e98074;
    color: white;
    border-color: #8e8d8a;
}

.parent
{
    color:#323232;
    font-weight: bold  ;
}

.non_fait
{
    color: red;    
}

.fait
{
    color: green;    
}

.def
{
    color:blue;
}

.exemple
{
    color:green;
}

.formule
{
    color:red;
}

.cours
{
    display:block; 
    min-width: 120px; 
    margin: 0.4rem 0.1rem; 
    padding: 0.4rem 0.1rem;
    text-align: left; 
    background-color: #ccc;
    color: #000;
    text-decoration: none;
    border: 1px solid #8e8d8a;
    border-radius: 4px; 
    box-shadow: 0.2em 0.2em 10px rgba(0, 0, 0, 0.5);
}

.bouton1
{
    background-color:#8e8d8a;
    color:white;
    font-size: 110%;
    margin: 1em;
    margin-bottom: 0.5em;
    border: 1px solid #555;      
    border-radius: 8px;           
    padding: 0.2rem 0.5rem;        
}

.bouton1:hover
{
    background-color: #e98074;
}

.bouton2
{
    background-color:red;
    font-weight:bold;
    color:white;
    font-size: 100%;
    text-align: center;
    border: 1px solid #555;     
    border-radius: 8px;         
    margin: 0.5rem; 
    margin-bottom: 0em;             
    padding: 0.5rem 0.5rem;       
}

.bouton2:hover
{
    background-color: #e98074;
}

.bouton3
{
    background-color:#8e8d8a;
    font-weight:bold;
    color:white;
    font-size: 100%;
    text-align: center;
    border: 1px solid #555; 
    border-radius: 8px;     
    margin: 0.5rem;  
    margin-top:0em;     
    padding: 0.5rem 0.5rem;      
}

.bouton3:hover
{
    background-color: #e98074;
}

.enonce
{
    margin-left: 15px;
    margin-bottom: 10px;
}

.question
{
    margin-left: 15px;
    margin-top: 15px;
}

.ic_rep
{
    float:left;
    margin-top: 1.2em;
}

.juste
{
    color:green;
    font-size:100%;

}

.juste2
{
    color:green;
    font-size:100%;
    margin-top: 5px;
}

.faux
{
    color:red;
    font-size: 80%;
}

.faux2
{
    color:red;
    font-size:100%;
}

table 
{
    border: medium solid black;
    border-collapse: collapse;
    border-color: black;
    width: auto;
    margin-left:1px;
    box-shadow:6px 6px 4px #666;
}

th
{
    font-family: arial;
    border: 2px solid black;
    border-color: black;
    color:black;
    width: auto;
    padding: 1px 1px 1px 1px;
    /*background-color: #1A8BBF;*/
    background-color:white;
    font-size:100%;
    text-align: center;
}

td 
{
    font-family: sans-serif;
    border-bottom: 2px solid black;
    border-color: black;;
    color:black;
    width: auto;
    padding: 1px 1px 1px 1px;
    text-align: center;
    font-size:100%;
    background-color: white;
    /*max-width: 400px;*/
}

.t_bas
{
    border-bottom: none;
}

.t_haut
{
    border-top: none;
}

.t_bh
{
    border-bottom: none;
    border-top: none;
}

.carB
{
    background-color: white;
    color:black;
    font-size:20px;
    width:40px;
    height:30px;
    text-align: center;
    border: none;
    margin: 0px;
    padding:0px;
}


.form-container {
    margin: 2px;
    padding: 2px;
    background-color: #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.question {
    margin-bottom: 10px;
}

.radio-container {
    display: block;
    position: relative;
    padding-left: 2.5em;
    margin-bottom: 8px;
    padding-top: 4px;
    cursor: pointer;
    font-size: 110%;
    user-select: none;
    margin-left: 30px;
}

.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    background-color: #d8c3a5;
    border-radius: 50%;
}

.radio-container:hover input ~ .checkmark {
    background-color: #e98074;
}

.radio-container input:checked ~ .checkmark {
    background-color: #e85a4f;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.radio-container input:checked ~ .checkmark:after {
    display: block;
}

.radio-container .checkmark:after {
    top: 10px;
    left: 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: white;
}
