body
{
    font-family:Arial,Helvetica,FreeSans,sans-serif;
    width:auto;
    height:auto;
}

header
{
    background:#aaa;
    border:2px black solid;
    border-radius:4px;
    padding:4px 4px 4px 4px;
    margin-bottom:10px;
    font-weight:bold;
    text-align:center;
    color:white;
    width:auto;
    font-size:140%;
}

footer
{
    background:#aaa;
    border:2px black solid;
    border-radius:4px;
    padding:4px 4px 4px 4px;
    margin-bottom:10px;
    text-align:center;
    color:white;
    width:auto;
    font-size:80%;
}

p
{
    margin-left: 5px;
}

form
{
    margin-left: 15px;
}

select
{
    color:red;
    min-width: 50px;
    font-size:105%;
}

select:hover
{
    background-color: #fdf1b8;
}

.menu 
{
    display: block;              /* Transformation en flexbox */
    padding:0;                  /* Suppression des marges internes */
}

.menu li 
{
    list-style-type: none ;       /* Suppression des puces */
}

.menu a 
{
    display:block;                /* Transformation en block */
    min-width: 120px;             /* Largeur minimale des liens */   
    margin: 0.2rem;               /* Marges externes (1 valeurs = 4 directions) */
    padding: 0.4rem 0;            /* Marges internes (2 valeurs = haut/bas et gauche/droite)*/
    text-align: center;           /* Centrage du texte */   
    background-color: #1ABC9C;    /* Couleur d'arrière-plan */
    color: #fff;                  /* Couleur du texte */
    text-decoration: none;        /* Suppression du soulignement */
    border: 1px solid #fff;       /* Ajout d'une bordure */
    border-radius: 4px;           /* Arrondis des bordures */
}

.menu a:hover 
{
    background-color: #ff0000;
    color: white;
    border-color: #ffe843;
}

.menu2 
{
    display: block;          /* Transformation en flexbox */
    min-width: 50px;             /* Largeur minimale des liens */   
    margin: 0.2rem;               /* Marges externes (1 valeurs = 4 directions) */
    padding: 0.2rem 0.2rem;            /* Marges internes (2 valeurs = haut/bas et gauche/droite)*/
    text-align: center;           /* Centrage du texte */   
    background-color: white;    /* Couleur d'arrière-plan */
    color: #red;                  /* Couleur du texte */
    text-decoration: none;        /* Suppression du soulignement */
    border: 1px solid #fff;       /* Ajout d'une bordure */
    border-radius: 4px;           /* Arrondis des bordures */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.menu2 option
{
    display:block;                /* Transformation en block */
    min-width: 50px;             /* Largeur minimale des liens */   
    margin: 0.2rem;               /* Marges externes (1 valeurs = 4 directions) */
    padding: 0.2rem 0.2rem;            /* Marges internes (2 valeurs = haut/bas et gauche/droite)*/
    text-align: center;           /* Centrage du texte */   
    background-color: white;    /* Couleur d'arrière-plan */
    color: #red;                  /* Couleur du texte */
    text-decoration: none;        /* Suppression du soulignement */
    border: 1px solid #fff;       /* Ajout d'une bordure */
    border-radius: 4px;           /* Arrondis des bordures */
}

.menu2 option:hover
{
    background-color:#fdf1b8;
}

.non_fait
{
    color: yellow;    
}

.fait
{
    color: white;    
}

.def
{
    color:blue;
}

.exemple
{
    color:green;
}

.cours
{
    display:block;                /* Transformation en block */
    min-width: 120px;             /* Largeur minimale des liens */   
    margin: 0.2rem;               /* Marges externes (1 valeurs = 4 directions) */
    padding: 0.4rem 0;            /* Marges internes (2 valeurs = haut/bas et gauche/droite)*/
    text-align: left;           /* Centrage du texte */   
    background-color: #ccc;    /* Couleur d'arrière-plan */
    color: #000;                  /* Couleur du texte */
    text-decoration: none;        /* Suppression du soulignement */
    border: 1px solid #fff;       /* Ajout d'une bordure */
    border-radius: 4px;           /* Arrondis des bordures */
}

.bouton1
{
    background-color:orange;
    font-size: 100%;
    margin-left: 15px;
    border: 1px solid #fff;       /* Ajout d'une bordure */
    border-radius: 4px;           /* Arrondis des bordures */
    margin: 10px 20px;               /* Marges externes (1 valeurs = 4 directions) */
    padding: 0.5rem;            /* Marges internes (2 valeurs = haut/bas et gauche/droite)*/
}

.bouton1:hover
{
    background-color: pink;
}

.bouton2
{
    background-color:black;
    color:white;
    font-size: 100%;
    text-align: center;
    border: 1px solid #fff;       /* Ajout d'une bordure */
    border-radius: 4px;           /* Arrondis des bordures */
    margin: 0.5rem;               /* Marges externes (1 valeurs = 4 directions) */
    padding: 0.5rem;            /* Marges internes (2 valeurs = haut/bas et gauche/droite)*/
}

.bouton2:hover
{
    background-color: brown;
}

.enonce
{
    margin-left: 20px;
}

.ic_rep
{
    float:left;
}

.juste
{
    color:green;
}

.juste2
{
    color:green;
    font-size:100%;
}

.faux
{
    color:red;
    font-size: 60%;
}

.faux2
{
    color:red;
    font-size:100%;
}

table 
{
    border: medium solid black;
    border-collapse: collapse;
    border-color: black;
    width: auto;
    margin-left:5px;
    box-shadow:6px 6px 4px #666;
}

th
{
    font-family: arial;
    border: 2px solid black;
    border-color: black;
    color:black;
    width: auto;
    padding: 5px 10px 5px 10px;
    /*background-color: #1A8BBF;*/
    background-color:white;
    font-size:100%;
    text-align: center;
    /*max-width:300px;*/
}

td 
{
    font-family: sans-serif;
    border-bottom: 2px solid black;
    border-color: black;;
    color:black;
    width: auto;
    max-width: 750px;
    padding: 5px 10px 5px 10px;
    text-align: center;
    font-size:100%;
    background-color: white;
    /*max-width: 400px;*/
}

.carB
{
    background-color: white;
    color:black;
    font-size:20px;
    width:40px;
    height:30px;
    text-align: center;
    border: none;
    margin: 0px;
    padding:0px;
}