body
{
    font-family:Arial,Helvetica,FreeSans,sans-serif;
}

p
{
    color:black;
    font-size:16px;
}

h1
{
    color:red;
    text-align:left;
    font-weight:bold;
    font-size:22px;
}


h2
{
    color:#b85c00;
    text-align:left;
    font-weight:bold;
    font-size:19px;
}

h3
{
    color:rgb(253,63,146);
    text-align:left;
    font-weight:bold;
    font-size:18px;
}

h4
{
    margin-left : 15px;
    color : rgb(102, 0, 153) ;
    text-align : left ;
    font-weight : bold ;
    font-size : 16px;
}

h5
{
    color:black;
    text-align:left;
    font-weight:bold;
    font-size:16px;
}

h6
{
    color:green;
    text-align:left;
    font-size:18px;
}

ul
{
    color:black;
    font-size:16px;
}

header
{
    background:radial-gradient(rgb(15, 157, 232),rgb(16, 52, 166));
    border:2px black solid;
    border-radius:4px;
    padding:4px 4px 4px 4px;
    margin-bottom:10px;
    font-size:40px;
    font-weight:bold;
    text-align:center;
    min-width:700px;
    color:white;
}

footer
{
    background:radial-gradient(rgb(15, 157, 232),rgb(16, 52, 166));
    border:2px black solid;
    border-radius:4px;
    padding:4px 4px 4px 4px;
    margin-bottom:10px;
    font-size:16px;
    text-align:center;
    min-width:700px;
    color:white;
}

nav
{
    float:left;
    padding:4px 4px 4px 4px;
    margin-bottom:10px;
    width:160px;
}

section
{
    background-image:radial-gradient(circle at top left,rgb(253, 241, 184) ,rgb(240, 227, 107),rgb(255, 244, 141)) ;
    border:2px rgb(0,0,0) solid;
    border-radius:4px;
    padding:4px 4px 4px 4px;
    margin-left:180px;
    margin-bottom:10px;
    min-width:550px;
    min-height:400px;
}

a
{
    color:blue;
    text-decoration:none;
    font-size:16px;
}

a:hover
{
    color:navy;
    text-decoration:underline;
}

.li1
{
    color:red;
    font-weight:bold;
}

.li1:hover
{
    color:darkred;
    font-weight:bold;
}

.li2
{
    color:green;
    font-weight:bold;
}

.li2:hover
{
    color:#34C924;
    font-weight:bold;
}

.li3
{
    color:blue;
    font-weight:bold;
}

.li3:hover
{
    color:#318CE7;
    font-weight:bold;
}

.drop1 
{
  float: left;
  width: 200px;
  height: 30px;
  margin: 10px;
  padding: 10px;
  border: none;
  cursor: pointer;
  background-color:white;
}

.drop2 
{
  float: left;
  width: 200px;
  height: 60px;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  cursor: pointer;
  background-color:silver;
}

.drop3 
{
  float: left;
  width: 115px;
  height: 30px;
  margin: 10px;
  padding: 10px;
  border: none;
  cursor: pointer;
  background-color:#CECECE;
}

.drop4 
{
  float: left;
  width: 115px;
  height: 60px;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  cursor: pointer;
  background-color:silver;
}

.drag1 
{
  color:maroon;
  width: 180px;
  height: 30px;
  font-weight:bold;
  font-size:20px;
  background-color:none;
}

.drag2 
{
  color:maroon;
  width: 112px;
  height: 30px;
  font-weight:bold;
  font-size:20px;
}

.juste
{
    color:green;
    font-size:16px;
}

.faux
{
    color:red;
    font-size:12px;
}

.def
{
    color:blue;
}

.note
{
    color:#a70caf;
}

.enonce
{
    color:black;
    font:18px Arial;
}

}
.abas
{
    font-size:20px;
}

.quizz
{
    background: radial-gradient(rgb(255, 203, 96),rgb(247,167,58));
    color:black;
}

.exo
{
    background: radial-gradient(rgb(199,44,72),#780318);
    color:white;
}

.squizz
{
    background-color:rgb(253, 241, 184);
}

.sexo
{
    background:linear-gradient(rgb(243, 223, 214), #fdf1b8);
    min-height:200px;
}

.exoh1
{
    color:rgb(199, 44, 72);
    text-decoration : underline ;
}

.saisie
{
    margin-left : 6px;
    color:#CC5500;
    font-weight : bold;
    font-size:18px;
}

.saisir
{
    font-size:18px;
    border: 2px #bbb inset;
}

.url
{
    color:rgb(100,0,150);
    font-size:20px;
}

.bouton
{
    border:none;
    padding:6px 0 6px 0;
    border-radius:3px;
    width:100px;
    box-shadow:6px 6px 4px #666;
    background: linear-gradient(180deg, #444, #000,#000, #222);
    font:bold 16px Arial;
    color:white;
    width:180px;
    font-weight : bold ;
}

.bouton:hover
{
    background: linear-gradient(180deg, #066, #022,#011, #033);
}

.bouton:active
{
    background: linear-gradient(180deg, #999, #666,#666, #999);
}

.bout
{
    border:none;
    padding:6px 0 6px 0;
    border-radius:4px;
    width:100px;
    height:28px;
    box-shadow:6px 6px 4px #666;
    background: linear-gradient(180deg, #f8f99d, #e7dc04, #dcd43b);
    font:bold 16px Arial;
    color:teal;
}

.bout:hover 
{
    background: linear-gradient(180deg, #f0f184, #f6f94c, #f5f766);
}

.bout:active 
{
    background: linear-gradient(180deg,#FFA07A, #FA8072,#FFA07A);
}

.pquizz
{
    color:rgb(121, 28, 248);
}

.pexo
{
    font-size: 16px;
}

.zone_saisie
{
    font-size: 18px;
    font-family: Arial;
    border: 2px #bbb inset;
    color:#000010;
}

.reponse_juste
{
    font-size: 18px;
    color: green;
    font-weight: bold;
}

.reponse_fausse
{
    font-size: 18px;
    color: rgb(255,0,0);
    font-weight: bold;
}

.spanquiz
{
    float : left;
}

.spanmes
{
    margin-left : 15px;
}

.quizzForm
{
    margin-left: 40px;
    color:rgb(136, 66, 29);
}

.question
{
    margin-left: 80px;
    font-weight : bold ;
}


.bouton2
{
    margin: auto;
    font-weight : bold ;
    background-color:yellow;
    font-size:16px;
    text-align: center;
}

.afficheur
{
    width: auto;
    height: auto;
    background: rgb(220, 220, 220);
    border-radius: 5px;
    border-color: #000;
    border: 2px solid #000000;
    margin: auto;
    padding: 5px;
    color: rgb(128,0,128);
    text-align: center;
    font-size:20px;
    font-weight : bold ;
}


.affmain
{
    width: auto;
    height: auto;
    background: radial-gradient(rgb(255, 215, 0),#fa9103);
    border-radius: 5px;
    border-color: #000;
    border: 2px solid #000000;
    margin: auto;
    padding: 5px;
    color: rgb(121, 28, 200);
    text-align: left;
    font-size:24px;
    font-weight : bold ;
    margin :10px;
    box-shadow:6px 6px 5px #666;
}

.point
{
    color: green;
    text-align: left;
    font-size:30px;
}

.afficheur1
{
    width: 500px;
    height: auto;
    /*background: rgb(220, 220, 220);*/
    background:radial-gradient(#eee, #aaa);
    border-radius: 5px;
    border-color: #000;
    border: 2px solid #000000;
    margin: auto;
    padding: 5px;
    color: rgb(128,0,128);
    text-align: center;
    font-size:20px;
    font-weight : bold ;
    float : left;
    box-shadow:6px 6px 4px #666;
}

.afficheur3
{
    width: auto;
    height: auto;
    /*background: rgb(115, 194, 251);*/
    background:radial-gradient(circle at top left,rgb(49, 140, 231), rgb(115, 194, 251));
    border-radius: 5px;
    border-color: #000;
    border: 2px solid #000000;
    margin: auto;
    padding: 5px;
    color: rgb(128,0,128);
    text-align: right;
    font-size:20px;
    font-weight : bold ;
    float : left;
    box-shadow:6px 6px 4px #666;
    font-family: Arial;
}

.afficheur4
{
    width: 520px;
    height: auto;
    background: rgb(220, 220, 255);
    border-radius: 5px;
    border-color: #000;
    border: 2px solid #000000;
    margin: auto;
    padding: 5px;
    color: rgb(128,0,128);
    text-align: left;
    font-size:30px;
    font-weight : bold ;
    float : left;
}

.input1
{
    font-size:30px;
    text-transform: lowercase;
    width:300px;
}

.input2
{
    width: 200px;
    height: 30px;
}

.lab1
{
    font-size:30px;
}

.lab2
{
    color:indigo;
    font-size:18px;
}

.case1
{
    margin-left: 100px;
}

.input3
{
    width: 400px;
    height: 30px;
    background: rgb(150, 150, 150);
    color:rgb(150, 150, 150);
}

.input5
{
    width: 200px;
    height: 30px;
    background: rgb(0, 0, 0);
    color:rgb(150, 150, 150);
}

.input6
{
    width: 100px;
    background: rgb(0, 0, 0);
}

.selrvb
{
    width:142px;
}

.input4
{
    width: 380px;
}

.afficheur2
{
    width: 600px;
    height: auto;
    background: rgb(220, 220, 220);
    border-radius: 5px;
    border-color: #000;
    border: 2px solid #000000;
    margin: 10px;
    padding: 5px;
    color: black;
    text-align: left;
    font-size:18px;
}

.caseP2
{
    background-color: rgb(220, 220, 220);
    width:580px;
    color:black;
    font-size:18px;
    height:20px;
    border: none;
    margin: 0px;
    padding:0px;
    font-family: sans-serif;
    text-align:left;
}

.afficher_reponse
{
    min-width: 600px;
    height: auto;
    background: rgb(220, 220, 220);
    border-radius: 5px;
    border-color: #000;
    border: 2px solid #000000;
    margin: auto;
    padding: 5px;
    color: rgb(128,0,128);
    text-align: center;
    font-size:20px;
    font-weight : bold ;
}

.col
{
    border: 1px solid black;
    text-align: left;
    min-width: 500px;
}

.ncol
{
    border: none;
    text-align: left;
    background: rgb(220, 220, 220);
}

.colb
{
    background: white;
}

.colg
{
    background: rgb(0,187,255);
}

.exofeuille
{
    color: red;
    font-weight : bold ;
}

table 
{
    border: medium solid black;
    border-collapse: collapse;
    border-color: #117A65  ;
    width: auto;
    margin-left:50px;
    box-shadow:6px 6px 4px #666;
}

th
{
    font-family: arial;
    border: 2px solid black;
    border-color: #117A65  ;
    color:black;
    width: auto;
    padding: 5px 10px 5px 10px;
    /*background-color: #1A8BBF;*/
    background-color:#D0ECE7;
    font-size:20px;
    text-align: center;
    font-weight : bold ;
    /*max-width:300px;*/
}

td 
{
    font-family: sans-serif;
    border: 2px solid black;
    border-color: #117A65;
    color:black;
    width: auto;
    max-width: 750px;
    padding: 5px 10px 5px 10px;
    text-align: center;
    font-size:20px;
    background-color: white;
    /*max-width: 400px;*/
}

.sel
{
    color:white;
    font-size:24px;
    background-color: rgb(49, 140, 231);
    margin-left: 50px;
    margin-top: 10px;
    min-width: 400px;
}

.pq
{
    /*color:rgb(126, 51, 0);*/
    color:rgb(78, 22, 9);
    font-size:18px;
}

.sel2
{
    color:teal;
    font-size:24px;
}

.sel3
{
    background-color: rgb(48,48,48);
    color:white;
    font-size:24px;
    width:200px;
}

.sel4
{
    background-color: grey;
    color:white;
    font-size:18px;
    width:400px;
}

.carreR
{
    background-color: red;
    color:black;
    font-size:24px;
    width:100px;
    height:100px;
    text-align: center;
}

.carreV
{
    background-color: green;
    color:black;
    font-size:24px;
    width:100px;
    height:100px;
    text-align: center;
}

.carreB
{
    background-color: blue;
    color:black;
    font-size:24px;
    width:100px;
    height:100px;
    text-align: center;
}

.carre
{
    color:black;
    font-size:24px;
    width:200px;
    height:200px;
    text-align: center;
}

.carre2
{
    background-color: white;
    color:black;
    font-size:24px;
    width:100px;
    height:100px;
    text-align: center;
}

.carB
{
    background-color: white;
    color:black;
    font-size:20px;
    width:40px;
    height:30px;
    text-align: center;
    border: none;
    margin: 0px;
    padding:0px;
}

.carP
{
    background-color: white;
    color:black;
    font-size:20px;
    width:50px;
    height:30px;
    text-align: center;
    border: none;
    margin: 0px;
    padding:0px;
}

.carT
{
    background-color: white;
    color:black;
    font-size:20px;
    width:36px;
    height:30px;
    text-align: center;
    border: none;
    margin: 0px;
    padding:0px;
}

.tpbm
{
    background-color: white;
    color:black;
    font-size:20px;
    width:200px;
    height:auto;
    text-align: left;
    margin-left: 20px;
    font-family: sans-serif;
}

.carC
{
    background-color: white;
    color:black;
    font-size:20px;
    width:40px;
    height:24px;
    text-align: center;
    border: none;
    margin: 0px;
    padding:0px;
}

.tpbm2
{
    background-color: white;
    color:black;
    font-size:20px;
    width:40px;
    height:24px;
    margin-left: 130px;
    font-family: sans-serif;
    text-align: center;
}

.tpbm3
{
    background-color: white;
    color:black;
    font-size:14px;
    width:44px;
    height:18px;
    margin-left: 520px;
    font-family: sans-serif;
    text-align: center;
    font-weight: bold;
}

.tpbmg
{
    background-color: white;
    color:black;
    font-size:20px;
    text-align: left;
    margin-left: 20px;
    width:80px;
    height:50px;
}

.caseP
{
    background-color: white;
    color:black;
    font-size:20px;
    height:30px;
    border: none;
    margin: 0px;
    padding:0px;
    font-family: sans-serif;
}

.caseL
{
    background-color: white;
    color:black;
    font-size:20px;
    height:30px;
    border: none;
    margin-left: 20px;
    margin-bottom: 0px;
}

.caseS
{
    background-color: white;
    color:black;
    font-size:14px;
    height:18px;
    border: none;
}
